.idea/*
tmp/*
!tmp/.keep
real-tmp/*
._*
.DS_Store
bin/
logs/
!logs/.keep
engine.rb
apario-contribution
importable/._*
importable/~$*
reference/locations.csv
private/*
!private/.parts
!private/locations.csv.placeholder